<style>body {font-family: Arial, Helvetica, sans-serif;margin: 0;}html {  box-sizing: border-box;}*, *:before, *:after {  box-sizing: inherit;}.column {  float: left;  width: 33.3%;  margin-bottom: 16px;  padding: 0 8px;}.card {  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  margin: 8px;}.about-section {  padding: 50px;  text-align: center;  background-color: #474e5d;  color: white;}.container {  padding: 0 16px;}.container::after, .row::after {  content: "";  clear: both;  display: table;}.title {  color: grey;}.button {  border: none;  outline: 0;  display: inline-block;  padding: 8px;  color: white;  background-color: #000;  text-align: center;  cursor: pointer;  width: 100%;}.button:hover {  background-color: #555;}@media screen and (max-width: 650px) {  .column {    width: 100%;    display: block;  }}</style> 
<body>
<div class="about-section">
  <h1>Places where you can order food</h1>
  <h3>The most popular places in Minsk</h3>
</div>


<div class="row">
  <div class="column">
    <div class="card">
      <img src="/assets/img/1.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Kafevarium</h2>
        <p class="title">Cafe</p>
        <p>29 Myasnikova str., Minsk 220030 Belarus</p>
        <p>10:00 AM - 09:00 PM</p>
        <p>+375 17 200-28-32</p>
       <p><a href="https://coffeevarium.by/"><button class="button">Go</button></a></p>
       <!-- <p><a href="../about/cafe_1.html"><button class="button">Go</button></a></p> -->
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/img/2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Gry Cafe</h2>
        <p class="title">Cafe</p>
        <p>33 Internatsionalnaya str., Minsk 220030 Belarus</p>
        <p>12:00 PM - 11:00 PM</p>
        <p>+375 29 612-11-13</p>
        <p><a href="https://www.facebook.com/kafegray/"><button class="button">Go</button></a></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/assets/img/3.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>News CAFE</h2>
        <p class="title">Cafe</p>
        <p>Karl Marx str., 34, Minsk 220030 Belarus</p>
        <p>8:00 AM - 12:00 AM</p>
        <p>+375 29 103-11-11</p>
        <p><a href="https://www.facebook.com/NewsCafeMinsk/"><button class="button">Go</button></a></p>
      </div>
    </div>

  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/img/4.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Stolle</h2>
        <p class="title">Cafe</p>
        <p>38 Nezavisimosti Ave., Minsk 220034 Belarus</p>
        <p>Around the clock</p>
        <p>+375 44 721-20-20</p>
        <p><a href="https://stolle.by/"><button class="button">Go</button></a></p>
        
      </div>
    </div>

  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/img/5.jpg" alt="John" style="width:100%" height="340px">
      <div class="container">
        <h2>O'petit</h2>
        <p class="title">Cafe</p>
        <p>Winners, 3, Minsk Belarus</p>
        <p>09:00 AM - 10:00 PM</p>
        <p>+375 17 221-20-20</p>
        <p><a href="https://www.facebook.com/belaruslive2020/videos/836934657105705/"><button class="button">Go</button></a></p>
      </div>
    </div>

  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/img/6.jpg" alt="John" style="width:100%" height="340">
      <div class="container">
        <h2>Beans & Leaves</h2>
        <p class="title">Cafe</p>
        <p>Pobediteley Ave., 9, Minsk 220004 Belarus</p>
        <p>09:00 AM - 10:00 PM</p>
        <p>+375 44 507-17-33</p>
        <p><a href="https://beansleaves.by/"><button class="button">Go</button></a></p>
      </div>
    </div>

  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/img/7.jpg" alt="John" style="width:100%" height="340">
      <div class="container">
        <h2>Stories</h2>
        <p class="title">Cafe</p>
        <p>International 14, Minsk 220030 Belarus</p>
        <p>09:00 AM - 10:00 PM</p>
        <p>+375 29 614-17-14</p>
        <p><a href="https://www.facebook.com/stories.minsk/"><button class="button">Go</button></a></p>
      </div>
    </div>

  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/img/8.jpg" alt="John" style="width:100%" height="340">
      <div class="container">
        <h2>Cafe Grain</h2>
        <p class="title">Cafe</p>
        <p>46 Nezavisimosti, Minsk 220005 Belarus</p>
        <p>07:00 AM - 11:00 PM</p>
        <p>+375 17 271-32-63</p>
        <p><a href="https://www.facebook.com/cafezerno/"><button class="button">Go</button></a></p>
      </div>
    </div>

  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/img/9.jpg" alt="John" style="width:100%" height="340">
      <div class="container">
        <h2>DOLCE</h2>
        <p class="title">Cafe</p>
        <p> 89 Independence, Minsk 220012 Belarus</p>
        <p>09:00 AM - 10:00 PM</p>
        <p>+375 29 306-32-34</p>
        <p><a href="https://dolcelux.by/"><button class="button">Go</button></a></p>
      </div>
    </div>

  </div>

</div>

</body>

